# Keil Ignores
/DebugConfig/
/Listings/
/Objects/
*.scvd
*.uvoptx
*.uvprojx
JLinkLog.txt
JLinkSettings.ini
*.uvguix.*

# eclipse Ignores
/Debug/
/Release/
/.settings/
.cproject
.project
/launch/
*.cfg